{% extends "layouts/home.html" %}<!---->
{% block title %} អំពី​ពួក​យើង {% endblock title %} {% block banner %}

<!-------HERO SECTION-->
{% include "components/banner.html" with name="អំពី" %}
<!-------HERO SECTION-->
{% endblock banner %}
<!---->
{% block content %}

<section class="section about-section aboutpage">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-box">
          <img src="/assets/images/earn.jpg" alt="ABOUT US" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-section-container">
          <h6 class="title">ការណែនាំ</h6>
          <h3>រកមើលលើសពីរយៈពេលខ្លីសម្រាប់លទ្ធផលប្រកបដោយនិរន្តរភាពបំផុត។ ?</h3>
          <p>
            យើង​ជា​ក្រុមហ៊ុន​គ្រប់គ្រង​ទ្រព្យសម្បត្តិ​និង​ការ​វិនិយោគ​ដោយ​ឡែក​មួយ​យ៉ាង​សកម្ម
            ការកសាងតម្លៃយូរអង្វែងសម្រាប់អតិថិជនរបស់យើង។
            យើងគ្រប់គ្រងយ៉ាងសកម្មរបស់អ្នក។
            ផលប័ត្រដើម្បីធានាថាវានៅតែសមរម្យសម្រាប់ការផ្លាស់ប្តូរដែលមិនធ្លាប់មាន
            លក្ខខណ្ឌនៅក្នុងសេដ្ឋកិច្ចពិភពលោក និងទីផ្សារហិរញ្ញវត្ថុ។ យើង​មាន​មួយ
            ដំណើរការវិនិយោគដែលបានកំណត់យ៉ាងច្បាស់លាស់
            ដែលជាមូលដ្ឋានគ្រឹះនៃសេវាកម្ម យើងផ្តល់។
            ដំណើរការនេះបង្កើតក្របខ័ណ្ឌដ៏រឹងមាំ ប៉ុន្តែអាចបត់បែនបានសម្រាប់
            អ្នកជំនាញវិនិយោគរបស់យើងដើម្បីធ្វើការរួមគ្នា ចែករំលែកគំនិត និង
            ប្រកួតប្រជែងទស្សនៈគ្នាទៅវិញទៅមក។ វាកំពុងវិវឌ្ឍន៍ឥតឈប់ឈរ ហើយយើង
            បន្តវិនិយោគលើធនធានដែលត្រូវការ ដើម្បីធានាថាវានៅមាន រឹងមាំ។
            យើងចូលទៅក្នុង arbitrage អចលនទ្រព្យ ការជីកយករ៉ែមាស និងរថយន្ត
            គ្រឿងបន្លាស់រីករាយក្នុងការបំពេញតម្រូវការវិនិយោគសំខាន់ៗរបស់អ្នក។
          </p>
          <p class="mt-4">
            {{ domain }}
            គឺជាក្រុមហ៊ុនចក្រភពអង់គ្លេសដែលបានចុះបញ្ជីជាមួយនឹងលេខក្រុមហ៊ុន:
            <span class="text-danger">11557590</span> .
            វិញ្ញាបនបត្រនៃការចុះឈ្មោះ។
          </p>
          <p class="mt-4">
            យើងមានក្រុមដែលខិតខំប្រឹងប្រែងសម្រាប់អតិថិជនដែលចង់បាន 100% សីលធម៌និង
            ការគ្រប់គ្រងការវិនិយោគប្រកបដោយនិរន្តរភាព។
            យើងសម្រេចបានលទ្ធផលដោយការចងខ្សែ
            ធនធានស្រាវជ្រាវការវិនិយោគដ៏ទូលំទូលាយរបស់យើង។ ដំណើរការវិនិយោគរបស់យើង។
            ចាប់យកការគិតដ៏ល្អបំផុតរបស់អ្នកយុទ្ធសាស្រ្ត អ្នកវិភាគ និង
            អ្នកគ្រប់គ្រងការវិនិយោគ ដែលយើងប្រើដើម្បីបង្កើត និងគ្រប់គ្រងរបស់អ្នក។
            ផលប័ត្រ។
          </p>
          <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <ul class="list-style-three">
                <li>ចក្ខុវិស័យចាប់ផ្តើម</li>
                <li>ជំនាញ​ផ្ទាល់ខ្លួន</li>
              </ul>
            </div>
            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
              <ul class="list-style-three">
                <li>បណ្តាញដែលលាតសន្ធឹងតាមវិស័យ</li>
                <li>ម៉ូដែលដឹកជញ្ជូនដែលអាចបត់បែនបាន។</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====  Section1===-->
<section class="section section1">
  <div class="container">
    <div class="row clearfix">
      <!-- Service Block Two -->
      <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInLeft animated"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: fadeInLeft;
          "
        >
          <div class="border-one"></div>
          <div class="border-two"></div>
          <div class="icon-box">
            <span class="icon fas fa-phone"></span>
          </div>
          <h4>សហការ</h4>
          <div class="text">
            ការគ្រប់គ្រងទ្រព្យសម្បត្តិ មានការសហការគ្នាដោយការទទួលខុសត្រូវ៖
            ជាមួយអតិថិជននីមួយៗ ក្នុងចំណោមមិត្តរួមការងារ និងជាមួយដៃគូអាជីព។
            អ្វីដែលសំខាន់គឺមិនមែនទេ។ តើអ្នកណាដែលល្អបំផុត
            ប៉ុន្តែអ្វីដែលល្អបំផុតសម្រាប់អតិថិជនរបស់យើង។
          </div>
        </div>
      </div>

      <!-- Service Block Two -->
      <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInUp animated"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: fadeInUp;
          "
        >
          <div class="border-one"></div>
          <div class="border-two"></div>
          <div class="icon-box">
            <span class="icon fas fa-edit"></span>
          </div>
          <h4>ធន់</h4>
          <div class="text">
            យើងមិនខ្លាចក្នុងការសួរសំណួរពិបាក ឬធ្វើការផ្លាស់ប្តូរនោះទេ។
            ចាំបាច់ត្រូវធ្វើ។ យើងក្រោកឈរឡើងសម្រាប់អ្វីដែលត្រឹមត្រូវ ដោយទទួលយកវា។
            ពេលខ្លះអាចជាបញ្ហាប្រឈម។
          </div>
        </div>
      </div>

      <!-- Service Block Two -->
      <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
        <div
          class="inner-box wow fadeInRight animated"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
          style="
            visibility: visible;
            animation-duration: 1500ms;
            animation-delay: 0ms;
            animation-name: fadeInRight;
          "
        >
          <div class="border-one"></div>
          <div class="border-two"></div>
          <div class="icon-box">
            <span class="icon fas fa-suitcase"></span>
          </div>
          <h4>វិជ្ជាជីវៈ</h4>
          <div class="text">
            យើងប្រកាន់យកទំនួលខុសត្រូវវិជ្ជាជីវៈរបស់យើងយ៉ាងយកចិត្តទុកដាក់។
            ពួក​យើង​គឺ ទទួលខុសត្រូវចំពោះអ្វីដែលយើងធ្វើ៖ ចំពោះអតិថិជនរបស់យើង
            គ្នាទៅវិញទៅមក និងចំពោះ អនាគត។
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====  Section1===-->

{% endblock content %}
