{% extends "layouts/home.html" %}<!---->
{% block title %} Our plans {% endblock title %} {% block banner %}

<!-------HERO SECTION-->
{% include "components/banner.html" with name="Pricing" %}
<!-------HERO SECTION-->
{% endblock banner %}
<!---->
{% block content %}

<section class="section-main">
  <div class="container">
    <h2 class="section-title"><span>Investment</span> Plans</h2>
    <div class="plans-list m-plans-list" data-aos="fade-up">
      <div class="plans-item">
        <div
          class="plan-card active"
          data-percent="110"
          data-term="5 "
          data-deposit="return"
          data-min="20"
          data-max="500"
          data-daily="2"
        >
          <div class="plan-card__percent">
            <div class="plan-percent">20%</div>
            <div class="plan-term">After 24 hrs</div>
          </div>
          <div class="plan-card__descr">
            <ul>
              <li>
                <p>
                  BASIC PLAN
                  <span class="color-red"></span>
                </p>
              </li>
              <li>
                <p>
                  Deposit:
                  <span class="color-red">Included</span>
                </p>
              </li>
              <li>
                <p>
                  Min deposit -
                  <span class="color-red">30 USD</span>
                </p>
                <p>Max Deposit - <span class="color-red">499 USD</span></p>
              </li>
              <li>
                <div class="pay-s-list">
                  <div class="pay-s">
                    <i class="pay-icon bitcoin--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon ethereum--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon litecoin--icon"></i>
                  </div>
                </div>
              </li>
              <li>
                <p>
                  Referral Bonus-
                  <span class="color-red">3 %</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="plans-item">
        <div
          class="plan-card"
          data-percent="140"
          data-term="20 "
          data-deposit="included"
          data-min="200"
          data-max="5000"
          data-daily="7"
        >
          <div class="plan-card__percent">
            <div class="plan-percent">40%</div>
            <div class="plan-term">After 24 hrs</div>
          </div>
          <div class="plan-card__descr">
            <ul>
              <li>
                <p>
                  GOLD PLAN
                  <span class="color-red"></span>
                </p>
              </li>
              <li>
                <p>
                  Deposit:
                  <span class="color-red">Included</span>
                </p>
              </li>
              <li>
                <p>
                  Min deposit -
                  <span class="color-red">500 USD</span>
                </p>
                <p>Max Deposit - <span class="color-red">1000 USD</span></p>
              </li>

              <li>
                <div class="pay-s-list">
                  <div class="pay-s">
                    <i class="pay-icon bitcoin--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon ethereum--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon litecoin--icon"></i>
                  </div>
                </div>
              </li>
              <li>
                <p>
                  Referral Bonus -
                  <span class="color-red">3 %</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="plans-item">
        <div
          class="plan-card"
          data-percent="160"
          data-term="20 "
          data-deposit="included"
          data-min="5000"
          data-max="50000"
          data-daily="8"
        >
          <div class="plan-card__percent">
            <div class="plan-percent">60%</div>
            <div class="plan-term">After 48 hrs</div>
          </div>
          <div class="plan-card__descr">
            <ul>
              <li>
                <p>
                  MASTER PLAN
                  <span class="color-red"></span>
                </p>
              </li>
              <li>
                <p>
                  Deposit:
                  <span class="color-red">Included</span>
                </p>
              </li>
              <li>
                <p>
                  Min deposit -
                  <span class="color-red">1000 USD</span>
                </p>
                <p>Max Deposit - <span class="color-red">1999 USD</span></p>
              </li>

              <li>
                <div class="pay-s-list">
                  <div class="pay-s">
                    <i class="pay-icon bitcoin--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon ethereum--icon"></i>
                  </div>
                  <div class="pay-s">
                    <i class="pay-icon litecoin--icon"></i>
                  </div>
                </div>
              </li>
              <li>
                <p>
                  Referral Bonus -
                  <span class="color-red">5 %</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="section-main">
      <div class="container">
        <h2 class="section-title"><span>Investment</span> Plans</h2>
        <div class="plans-list m-plans-list" data-aos="fade-up">
          <div class="plans-item">
            <div
              class="plan-card"
              data-percent="140"
              data-term="20 "
              data-deposit="included"
              data-min="200"
              data-max="5000"
              data-daily="7"
            >
              <div class="plan-card__percent">
                <div class="plan-percent">40%</div>
                <div class="plan-term">After 24 hrs</div>
              </div>
              <div class="plan-card__descr">
                <ul>
                  <li>
                    <p>
                      GOLD PLAN
                      <span class="color-red"></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Deposit:
                      <span class="color-red">Included</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Min deposit -
                      <span class="color-red">500 USD</span>
                    </p>
                    <p>Max Deposit - <span class="color-red">1000 USD</span></p>
                  </li>

                  <li>
                    <div class="pay-s-list">
                      <div class="pay-s">
                        <i class="pay-icon bitcoin--icon"></i>
                      </div>
                      <div class="pay-s">
                        <i class="pay-icon ethereum--icon"></i>
                      </div>
                      <div class="pay-s">
                        <i class="pay-icon litecoin--icon"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>
                      Referral Bonus -
                      <span class="color-red">3 %</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="plans-item">
            <div
              class="plan-card"
              data-percent="160"
              data-term="20 "
              data-deposit="included"
              data-min="5000"
              data-max="50000"
              data-daily="8"
            >
              <div class="plan-card__percent">
                <div class="plan-percent">60%</div>
                <div class="plan-term">After 48 hrs</div>
              </div>
              <div class="plan-card__descr">
                <ul>
                  <li>
                    <p>
                      MASTER PLAN
                      <span class="color-red"></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Deposit:
                      <span class="color-red">Included</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      Min deposit -
                      <span class="color-red">1000 USD</span>
                    </p>
                    <p>Max Deposit - <span class="color-red">1999 USD</span></p>
                  </li>

                  <li>
                    <div class="pay-s-list">
                      <div class="pay-s">
                        <i class="pay-icon bitcoin--icon"></i>
                      </div>
                      <div class="pay-s">
                        <i class="pay-icon ethereum--icon"></i>
                      </div>
                      <div class="pay-s">
                        <i class="pay-icon litecoin--icon"></i>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p>
                      Referral Bonus -
                      <span class="color-red">5 %</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

{% endblock content %}
