{% extends "layouts/home.html" %}<!---->
{% block title %} Our plans {% endblock title %} {% block banner %}

<!-------HERO SECTION-->
{% include "components/banner.html" with name="Pricing" %}
<!-------HERO SECTION-->
{% endblock banner %}
<!---->
{% block content %}

<section class="section pricing pricingpage">
  <div class="container">
    <!-- Section Title Starts -->
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h2 class="title-head">Investment <span>Plan</span></h2>
        <div class="title-head-subtitle">
          <p>Choose a plan that best suite you</p>
        </div>
      </div>
    </div>
    <!-- Section Title Ends -->
    <div class="row justify-content-center">
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Stable</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $30</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $2499</li>
            <li><i class="fa fa-check-circle"></i> 15% After 1 Day</li>
            <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
            <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
          </ul>
          <a class="btn btn-primary btn-block" href="indexcca3.html?a=signup"
            >Signup</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Aggressive</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $2500</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $9999</li>
            <li><i class="fa fa-check-circle"></i> 35% After 2 Days</li>
            <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
            <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
          </ul>
          <a class="btn btn-primary btn-block" href="indexcca3.html?a=signup"
            >Signup</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Conservative</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $10000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $29999</li>
            <li><i class="fa fa-check-circle"></i> 80% After 3 Days</li>
            <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
            <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
          </ul>
          <a class="btn btn-primary btn-block" href="indexcca3.html?a=signup"
            >Signup</a
          >
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Ultimate</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $30000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : Unlimited</li>
            <li><i class="fa fa-check-circle"></i> 120% After 1 month</li>
            <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
            <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
          </ul>
          <a class="btn btn-primary btn-block" href="indexcca3.html?a=signup"
            >Signup</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
