{% extends "layouts/home.html" %}<!---->
{% block title %} Our plans {% endblock title %} {% block banner %}

<!-------HERO SECTION-->
{% include "components/banner.html" with name="Pricing" %}
<!-------HERO SECTION-->
{% endblock banner %}
<!---->
{% block content %}

<section class="section pricing pricingpage">
  <div class="container">
    <!-- Section Title Starts -->
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h2 class="title-head">Investment <span>Plan</span></h2>
        <div class="title-head-subtitle">
          <p>Choose a plan that best suite you</p>
        </div>
      </div>
    </div>
    <!-- Section Title Ends -->
    <div class="row justify-content-center">
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Starter</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $500</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $4999</li>
            <li><i class="fa fa-check-circle"></i> 10% weekly ROI</li>
            <li><i class="fa fa-check-circle"></i> Duration : weekly ROI</li>
            <li><i class="fa fa-check-circle"></i>Referral Bonus 5%</li>
            <li><i class="fa fa-check-circle"></i>70% capital insurance</li>
          </ul>
          <a class="btn btn-primary btn-block" href="{% url 'sign_up' %}"
            >Invest</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Standard</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $5,000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $9,999</li>
            <li><i class="fa fa-check-circle"></i> 12% ROI</li>
            <li><i class="fa fa-check-circle"></i> Duration : 12 weeks</li>
            <li><i class="fa fa-check-circle"></i>Referral Bonus 5%</li>
            <li><i class="fa fa-check-circle"></i>70% capital insurance</li>
          </ul>
          <a class="btn btn-primary btn-block" href="{% url 'sign_up' %}"
            >Invest</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Advance</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $10,000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $49,999</li>
            <li><i class="fa fa-check-circle"></i> 15% weekly ROI</li>
            <li><i class="fa fa-check-circle"></i> Duration : 4 weeks</li>
            <li><i class="fa fa-check-circle"></i>Referral Bonus 5%</li>
            <li><i class="fa fa-check-circle"></i>70% capital insurance</li>
          </ul>
          <a class="btn btn-primary btn-block" href="{% url 'sign_up' %}"
            >Invest</a
          >
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Compounding</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $20,000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : $49,999</li>
            <li><i class="fa fa-check-circle"></i> 13% weekly ROi</li>
            <li><i class="fa fa-check-circle"></i> Duration : 4 weeks</li>
            <li><i class="fa fa-check-circle"></i>Referral Bonus 5%</li>
            <li><i class="fa fa-check-circle"></i>70% capital insurance</li>
          </ul>
          <a class="btn btn-primary btn-block" href="{% url 'sign_up' %}"
            >Invest</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-10">
        <div class="pricing-card">
          <div class="pricing-header">
            <h3 class="title">Pro</h3>
          </div>
          <ul class="pricing-content unstyled">
            <li><i class="fa fa-check-circle"></i>Min Amount : $5000</li>
            <li><i class="fa fa-check-circle"></i>Max Amount : unlimited</li>
            <li><i class="fa fa-check-circle"></i> 12% weekly ROi</li>
            <li><i class="fa fa-check-circle"></i> Duration : 8 weeks</li>
            <li><i class="fa fa-check-circle"></i>Referral Bonus 5%</li>
            <li><i class="fa fa-check-circle"></i>70% capital insurance</li>
          </ul>
          <a class="btn btn-primary btn-block" href="{% url 'sign_up' %}"
            >Invest</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
