{% extends "layouts/home.html" %}<!---->
{% block title %} គាំទ្រ {% endblock title %} {% block banner %}

<!-------HERO SECTION-->
{% include "components/banner.html" with name="គាំទ្រ" %}
<!-------HERO SECTION-->
{% endblock banner %}
<!---->
{% block content %}

<section class="section contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 contact-form">
        <h3 class="col-xs-12">មានអារម្មណ៍សេរីក្នុងការផ្ញើសារមកយើង</h3>
        <p class="col-xs-12">
          ត្រូវការនិយាយជាមួយយើង? តើអ្នកមានសំណួរ ឬសំណូមពរទេ? សូម
          ទាក់ទងមកយើងអំពីការសាកសួរទាំងអស់ រួមទាំងសមាជិកភាព និងការងារស្ម័គ្រចិត្ត
          ដោយប្រើទម្រង់ខាងក្រោម។
        </p>
        <!-- Contact Form Starts -->
        <form class="form-contact">
          <div class="form-row">
            <!-- Input Field Starts -->
            <div class="form-group col-xl-6">
              <input
                class="form-control"
                name="firstname"
                id="firstname"
                placeholder="ឈ្មោះដំបូង"
                type="text"
                required=""
              />
            </div>
            <!-- Input Field Ends -->
            <!-- Input Field Starts -->
            <div class="form-group col-xl-6">
              <input
                class="form-control"
                name="lastname"
                id="lastname"
                placeholder="នាមត្រកូល"
                type="text"
                required=""
              />
            </div>
            <!-- Input Field Ends -->
          </div>
          <div class="form-row">
            <!-- Input Field Starts -->
            <div class="form-group col-xl-6">
              <input
                class="form-control"
                name="email"
                id="email"
                placeholder="អ៊ីមែល"
                type="email"
                required=""
              />
            </div>
            <!-- Input Field Ends -->
            <!-- Input Field Starts -->
            <div class="form-group col-xl-6">
              <input
                class="form-control"
                name="text"
                id="subject"
                placeholder="ប្រធានបទ"
                type="text"
                required=""
              />
            </div>
            <!-- Input Field Ends -->
          </div>
          <div class="form-row">
            <!-- Input Field Starts -->
            <div class="form-group col-md-12 col-xs-12">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="សារ"
                required=""
              ></textarea>
            </div>
            <!-- Input Field Ends -->
          </div>
          <!-- Submit Form Button Starts -->
          <div class="form-group col-xs-12 col-sm-6">
            <button class="btn btn-primary btn-contact" type="submit" disabled>
              ប្រើការគាំទ្រផ្ទាល់
            </button>
          </div>
          <!-- Submit Form Button Ends -->
          <!-- Form Submit Message Starts -->
          <div class="col-xs-12 text-center output_message_holder d-none">
            <p class="output_message"></p>
          </div>
          <!-- Form Submit Message Ends -->
        </form>
        <!-- Contact Form Ends -->
      </div>
      <!-- Contact Widget Starts -->
      <div class="col-xs-12 col-md-4">
        <div class="widget">
          <div class="contact-page-info">
            <!-- Contact Info Box Starts -->
            <div class="contact-info-box">
              <i class="fa fa-home big-icon primary-color"></i>
              <div class="contact-info-box-content">
                <h4>អាស័យដ្ឋាន</h4>
                <p>123 Disney Street Slim Av. Brooklyn Bridge, NY, New York</p>
              </div>
            </div>
            <!-- Contact Info Box Ends -->
            <!-- Contact Info Box Starts -->
            <!--<div class="contact-info-box">
                                    <i class="fa fa-phone big-icon primary-color"></i>
                                    <div class="contact-info-box-content">
                                        <h4>Phone Numbers</h4>
                                        <p>+88 0123 4567 890<br>+88 0231 3421 453</p>
                                    </div>
                                </div>-->
            <!-- Contact Info Box Ends -->
            <!-- Contact Info Box Starts -->
            <div class="contact-info-box">
              <i class="fa fa-envelope big-icon primary-color"></i>
              <div class="contact-info-box-content">
                <h4>អាសយដ្ឋានអ៊ីមែល</h4>

                <p>INFO@{{ domain }}</p>
              </div>
            </div>
            <!-- Contact Info Box Ends -->
            <!-- Social Media Icons Starts -->
            <div class="contact-info-box">
              <i class="fa fa-share-alt big-icon primary-color"></i>
              <div class="contact-info-box-content">
                <h4>កម្រងព័ត៌មានសង្គម</h4>
                <div class="social-contact">
                  <ul>
                    <li class="facebook">
                      <a href="#" target="_blank"
                        ><i class="fab fa-facebook"></i
                      ></a>
                    </li>
                    <li class="twitter">
                      <a href="#" target="_blank"
                        ><i class="fab fa-twitter"></i
                      ></a>
                    </li>
                    <li class="google-plus">
                      <a href="#" target="_blank"
                        ><i class="fab fa-google-plus"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Social Media Icons Starts -->
          </div>
        </div>
      </div>
      <!-- Contact Widget Ends -->
    </div>
  </div>
</section>

{% endblock content %}
