<div id="banner" class="carousel carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active item-1"></div>

    <div class="carousel-item item-2"></div>
  </div>
</div>
<div id="banner-content">
  <div class="container">
    <div class="content1">
      <div class="row">
        <div class="col-lg-10">
          <div class="breadcrumb-area">
            <h2 class="title">{{name}}</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{name}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
