{% extends "layouts/users.html" %}<!---->
{% block title %} ផ្ទាំងគ្រប់គ្រងគណនី {% endblock title %}<!---->
{% block content %}
<div class="container">
  <div class="user-statistic">
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st1--icon"></div>
        <div class="user-statistic__value">
          <span> $<b>{{user.balance}}</b> </span>
        </div>
        <div class="user-statistic__title">សមតុល្យសរុប</div>
      </div>
    </div>
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st2--icon"></div>
        <div class="user-statistic__value" id="load1">
          <span> $<b>{{user.deposit_balance}}</b> </span>
        </div>
        <div class="user-statistic__title">សមតុល្យប្រាក់បញ្ញើ</div>
      </div>
    </div>

    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st4--icon"></div>
        <div class="user-statistic__value" id="load3">
          <span> $<b>{{user.total_withdraw}}</b> </span>
        </div>
        <div class="user-statistic__title">ដកសរុប</div>
      </div>
    </div>
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st3--icon"></div>
        <div class="user-statistic__value" id="load2">
          <span> $<b>{{user.vip_reward}}</b> </span>
        </div>
        <div class="user-statistic__title">រង្វាន់ VIP</div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="auth-info-card card mb-5">
        <div>
          <div class="auth-info-card-header">
            <h4 class="text-white">ប្រវត្តិចូល</h4>
          </div>
          <div class="auth-info-card-body">
            {% for log in logs %}
            <div class="auth-info-item">
              <div
                class="d-flex"
                style="align-items: center; justify-content: space-between"
              >
                <h5 class="text-white">Web</h5>

                <div style="margin-top: -11px">
                  <!-- <h5 class="text-gray-500">{{log.city}}</h5> -->
                  <p class="ml-auto text-success" style="margin: 10px 0">
                    {{log.log_ip}}
                  </p>
                  <p class="ml-auto text-gray-500" style="margin: 10px 0">
                    {{log.date}}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
